@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

html, body{
    font-family: "Roboto","Noto Sans TC", "Microsoft JhengHei", "HanHei TC", "MHei", "PingFang TC", "STHeitiTC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input, textarea , button, submit {
    appearance: none;
    box-shadow: none;
    outline: none;
    border: none;
}

textarea {
    resize: none;
}

a {
  color: inherit;
  text-decoration: inherit;

}

ul {
    /* list-style-type: none; */
    margin: 0;
    /* padding: 0; */
}

*{
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #ededed;
}
